#toTop{
    /*width:100px;
    border:1px solid #ccc;
    background:#f7f7f7;
    text-align:center;*/
    z-index: 3;
    display:none;
    padding:5px;
    position:fixed;
    bottom: 0;
    right:50px;
    cursor:pointer;
    color: #00bc8c;
    font-size:60px;
}