.header {
  margin-top: 0.5rem;
  padding-left: 10px;
}

.header .menu{
    justify-content: center;
  }

.header ul li {
  list-style: none;
  margin: 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}

.header ul li a{
  cursor: pointer;
}

.header ul li a:hover {
  color: #3498DB;
}

.header a:hover {
  text-decoration: none;
}

.header h3 a {
  color: white;
}

.header h3 a:hover {
  color: #00bc8c;
}

.header button {
  height: 2.2rem;
  margin-top: 3px;
}
