.user-avatar{
	float: left;
    height: 300px;
    margin-right: 20px;
}

.user-avatar img{
	width: 200px;
}

.user-bio{
    display: flex;
	justify-content: space-between;
}

.user-bio p{
    width: 100%;
    height: 120px;
    margin: 10px;
}

.user-details ul{
	list-style-type: none;
}

i{
	margin-right: 5px;
}